body {
background-image: url("../images/bkg_1900x632_v2.jpg");
background width: 100%;
background height: 100%;
background-color: #2c495b;
height: 240px;
margin: 0 auto;
background-repeat: no-repeat;
background-attachment: fixed;

}

.navbar {
  background: #27414f;
  background: -moz-linear-gradient(left, #27414f 0%, #5c7375 29%, #5c7375 71%, #27414f 100%);
  background: -webkit-linear-gradient(left, #27414f 0%,#5c7375 29%,#5c7375 71%,#27414f 100%);
  background: linear-gradient(to right, #27414f 0%,#5c7375 29%,#5c7375 71%,#27414f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27414f', endColorstr='#27414f',GradientType=1 );
width: 100%;
height: 25px;
margin-top: 30%;
border: 1px solid white;
border-color: white;
display: flex;
align-items: center;
justify-content: center;

}

a {
display: inline-block;
color: #dddbc5;
font-family: 'Raleway', sans-serif;
font-size: 13px;
text-decoration: none;
list-style-type: none;
margin: 0px 0px 0px 0px;
padding: 60px;

}

a {
list-style-type: none;
}

a:hover {
color: #ffff80;
}

.content {
background-image: url("../images/Background_Tile2.jpg");
background-repeat: repeat;
Clear: left;
background-color: #2c495b;
Width: 100%;
height: 100%;
margin: 0 auto;
display: flex;
}

.contentbox1 {
background-color: rgba(65, 89, 84,0.75);
Width: 35%;
height: 100%;
margin-left: 10%;

}

.leftcontent {
color: #dddbc5;
font-family: 'Raleway', sans-serif;
font-size: 12px;
position: relative;
list-style: none;
margin: 0 auto;
padding: 7% 6% 7% 6%;
letter-spacing: 1px;
line-height: 150%;

}

.contentbox2 {
background-color: rgba(65, 89, 84,0.75);
Width: 35%;
height: 100%;
margin-left: 10%;

}

.rightcontent {
color: #dddbc5;
font-family: 'Raleway', sans-serif;
font-size: 12px;
position: relative;
list-style: none;
margin: 0 auto;
padding: 8%;
letter-spacing: 1px;
line-height: 150%;

}

div.image {
position: relative;
content:url("../images/cheesecake_250x165.jpg");
bottom: 200px;
left: 73%;
border: 1px solid white;

}
